@import "tailwindcss";

@theme {
  --color-purple-600: #5046e4;
  --color-purple-200: #e0e7ff;
  --color-purple-500: #4940be;
  --color-purple-tags: #eef3ff;

  --color-gray-200: #f9fbfc;
  --color-gray-600: #95989c;
}
